.snakemake
*tmp*
~*
*Rproj*
*Rhist*
nohup*

.idea
__pycache__

docs/_build/
*/bam/*
*/bowtie/*
*/entrez/*
*/fastq/*
*/probabilities/*
*/sigma/*
*/ts_tv_counts/*
database/*
fastq/*
results*/*
*test*
prime
*sh
build
dist
*.egg-info/
*fasta.gz
*benchmark.txt